 /* @import url('https://fonts.googleapis.com/css2?family=Heebo:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text:wght@900&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

/* Css for pages starts here */


/* Row of search bar */
#searchbarcontainer{
	display: flex;
	align-items: center;
	justify-content: center;
	/* border: 3px solid #73AD21; */
}



#exploreBg{
  /* padding-top: 50px; */
  /* padding-bottom: 50px; */
	background: url(../img/explore_banner.png) no-repeat center center fixed;
  display: table;
  width: 100%;
	position: relative;
	background-size: cover;
}

/* Heading of page */
#exploreH1{
    margin-top: 8%;
    color: black;
    /* border: 3px solid #73AD21; */
    margin-bottom: 5%;
    /* font-size: 3rem; */

  }

  .xyz{
        
    font-family: 'Oswald', sans-serif;
    font-weight: 900;
  }


  /* 
  .div{
    border: 3px solid #73AD21;
  } */



  #SearchbyKw{
	max-width: 50%;
	border-radius: 10px;
	text-align: center;
  }

  #SearchbyKwBtn{
    padding: 3px 6px;
	margin-left:5px ;
    background-color: cornflowerblue;
   	border-color: cornflowerblue;
  }

  .container {
	/* margin-left: 0px;
	margin-right: 0px; */
	width: 100%;
  margin-top: 10%;
  padding-top:2% ;
	display: flex;
  flex-wrap: wrap;
  background-color: rgb(240, 245, 249);
  }


  /* The Dynamically created card styling is done here */
  .card {
      /* margin: .7rem;
      padding: 2rem; */
      margin: 1rem;
      padding: 0;
      background: white;
      box-shadow: 2px 4px 25px rgba(0, 0, 0, .1);
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      overflow: hidden;
      transition: all .2s linear;

      /* Using this to allign content inside with flex
      to help with keeping the authorname class at the end of the card*/
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;

      /* this fixed the topic page card bug */
      flex: 1 1 calc(60% - 2rem);
    }
  
  .card:hover {
      box-shadow: 2px 8px 45px rgba(0, 0, 0, .15);
      transform: translate3D(0, -2px, 0);
    }
  
     /* Inside of cards are changed here */

     /* Style the Paragraph inside the cards */
  .Para{
      /* border: 3px solid #73AD21; */

      padding: 2%;
      margin-top: 8%;
      margin-left: 15%;
      margin-right: 15%;
      margin-bottom: 8%;

      font-family: 'Roboto Slab', serif;
      font-weight: 400;
      font-size: 2rem;
      letter-spacing: 0.02em;


    }

  /* Style the authorname inside the cards */
  .AuthName{
      /* border: 3px solid #73AD21; */

      padding: 20px;
      background-color:darkblue;
      color: white;
      margin-bottom: 0;
      font-family: 'Oswald', sans-serif;
      /* this is needed to keep the auth name at the
      end of the card */
      /* margin-top: auto; */
      
    }








  /* Style for Quotes Page */

#quotesH1{
  margin-top: 8%;
}

#QuotesBg{
      background: url(../img/quotes_banner.png) no-repeat center center fixed;
      display: table;
      width: 100%;
      position: relative;
      background-size: cover;
    }    


/* Style for Topics Page */


#topicsBg{
    background: url(../img/topics_banner.png) no-repeat center center fixed;
    display: table;
    width: 100%;
    position: relative;
    background-size: cover;
    }

    
#topicsH1{
  margin-top: 8%;
  color: black;
}    

.TopicCardText{
  /* border: 3px solid #73AD21; */
  /* padding: 20%; */
  background-color:darkblue;
  color: white;
  margin: 0;

  font-family: 'Roboto Slab', serif;
  font-weight: 100;
  text-transform: uppercase;
  /* font-size: 1rem; */
  cursor: pointer;
  /* margin: 20%; */
}      
.TopicCardText a{
  color: white;
}  



/* About Page  */

#abtusBg{
  background: url(../img/about_banner.png) no-repeat center center fixed;
  display: table;
  width: 100%;
	position: relative;
	background-size: cover;
}

#abtusH1{
  margin-top: 8%;
  color: white;
  
  margin-bottom: 5%;
  /* font-size: 3rem; */

  /* border: 3px solid #73AD21; */
 }
.abtParaDiv{
  background-color: #f7f7f7;
  padding: 1rem;
  margin: 0;
  /* border: 3px solid #73AD21; */
}

 #aboutpara{
   background-color: white;
   margin: 5%;
   padding: 5%;
   font-size: large;
   text-align: left;
   /* border: 3px solid #73AD21; */
 }


 /* Contact Us Page */
#cntusBgC{
  background-color: #f7f7f7;
}
 #contactusBG{
  background: url(../img/contact_banner.png) no-repeat center center fixed;
  display: table;
  width: 100%;
	position: relative;
	background-size: cover;
}


#contactusH1{
  margin-top: 8%;
  color: black;
  /* border: 3px solid #73AD21; */
  margin-bottom: 5%;
  /* font-size: 3rem; */
}

/* 
.container-contactus{
  border: 3px solid #73AD21;
}
.row-contactus{
  border: 3px solid #73AD21;
} */

.colBg{
  /* border: 3px solid #73AD21; */
  padding: 4% 10%;
  background-color: white;
  margin:0;
  display: flex;
  flex-flow: column wrap  ;
}

.iconBg{
  margin: 0;
  /* border: 3px solid #73AD21; */
  background-color: tomato;
  /* width: 100%; */
}

.iconSize{
  margin: 1rem;
  /* padding: 15px; */
  height: 5rem;
}

.iconH3{

  color: white;
}

/* .iconH5{
} */
/* Media Queries */
    @media screen and (min-width: 600px) {
      .card {
        flex: 1 1 calc(50% - 2rem);
      }
      .TopicCardText{
        padding: 20%;
      }
    }
    
    @media screen and (min-width: 900px) {
      .card {
        flex: 1 1 calc(33% - 2rem);
      }
    }
