/* Coolors Exported Palette - https://coolors.co/264653-2a9d8f-e9c46a-f4a261-e76f51-ffffff-f1f5f9-e2ebf3-252d41-0f182e */

/* CSS HEX */
--charcoal: #264653ff;
--persian-green: #2a9d8fff;
--orange-yellow-crayola: #e9c46aff;
--sandy-brown: #f4a261ff;
--burnt-sienna: #e76f51ff;
--white: #ffffffff;
--alice-blue: #f1f5f9ff;
--alice-blue-2: #e2ebf3ff;
--space-cadet: #252d41ff;
--oxford-blue: #0f182eff;

/* CSS HSL */
--charcoal: hsla(197, 37%, 24%, 1);
--persian-green: hsla(173, 58%, 39%, 1);
--orange-yellow-crayola: hsla(43, 74%, 66%, 1);
--sandy-brown: hsla(27, 87%, 67%, 1);
--burnt-sienna: hsla(12, 76%, 61%, 1);
--white: hsla(0, 0%, 100%, 1);
--alice-blue: hsla(210, 40%, 96%, 1);
--alice-blue-2: hsla(208, 41%, 92%, 1);
--space-cadet: hsla(223, 27%, 20%, 1);
--oxford-blue: hsla(223, 51%, 12%, 1);

/* SCSS HEX */
$charcoal: #264653ff;
$persian-green: #2a9d8fff;
$orange-yellow-crayola: #e9c46aff;
$sandy-brown: #f4a261ff;
$burnt-sienna: #e76f51ff;
$white: #ffffffff;
$alice-blue: #f1f5f9ff;
$alice-blue-2: #e2ebf3ff;
$space-cadet: #252d41ff;
$oxford-blue: #0f182eff;

/* SCSS HSL */
$charcoal: hsla(197, 37%, 24%, 1);
$persian-green: hsla(173, 58%, 39%, 1);
$orange-yellow-crayola: hsla(43, 74%, 66%, 1);
$sandy-brown: hsla(27, 87%, 67%, 1);
$burnt-sienna: hsla(12, 76%, 61%, 1);
$white: hsla(0, 0%, 100%, 1);
$alice-blue: hsla(210, 40%, 96%, 1);
$alice-blue-2: hsla(208, 41%, 92%, 1);
$space-cadet: hsla(223, 27%, 20%, 1);
$oxford-blue: hsla(223, 51%, 12%, 1);

/* SCSS RGB */
$charcoal: rgba(38, 70, 83, 1);
$persian-green: rgba(42, 157, 143, 1);
$orange-yellow-crayola: rgba(233, 196, 106, 1);
$sandy-brown: rgba(244, 162, 97, 1);
$burnt-sienna: rgba(231, 111, 81, 1);
$white: rgba(255, 255, 255, 1);
$alice-blue: rgba(241, 245, 249, 1);
$alice-blue-2: rgba(226, 235, 243, 1);
$space-cadet: rgba(37, 45, 65, 1);
$oxford-blue: rgba(15, 24, 46, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #264653ff, #2a9d8fff, #e9c46aff, #f4a261ff, #e76f51ff, #ffffffff, #f1f5f9ff, #e2ebf3ff, #252d41ff, #0f182eff);
$gradient-right: linear-gradient(90deg, #264653ff, #2a9d8fff, #e9c46aff, #f4a261ff, #e76f51ff, #ffffffff, #f1f5f9ff, #e2ebf3ff, #252d41ff, #0f182eff);
$gradient-bottom: linear-gradient(180deg, #264653ff, #2a9d8fff, #e9c46aff, #f4a261ff, #e76f51ff, #ffffffff, #f1f5f9ff, #e2ebf3ff, #252d41ff, #0f182eff);
$gradient-left: linear-gradient(270deg, #264653ff, #2a9d8fff, #e9c46aff, #f4a261ff, #e76f51ff, #ffffffff, #f1f5f9ff, #e2ebf3ff, #252d41ff, #0f182eff);
$gradient-top-right: linear-gradient(45deg, #264653ff, #2a9d8fff, #e9c46aff, #f4a261ff, #e76f51ff, #ffffffff, #f1f5f9ff, #e2ebf3ff, #252d41ff, #0f182eff);
$gradient-bottom-right: linear-gradient(135deg, #264653ff, #2a9d8fff, #e9c46aff, #f4a261ff, #e76f51ff, #ffffffff, #f1f5f9ff, #e2ebf3ff, #252d41ff, #0f182eff);
$gradient-top-left: linear-gradient(225deg, #264653ff, #2a9d8fff, #e9c46aff, #f4a261ff, #e76f51ff, #ffffffff, #f1f5f9ff, #e2ebf3ff, #252d41ff, #0f182eff);
$gradient-bottom-left: linear-gradient(315deg, #264653ff, #2a9d8fff, #e9c46aff, #f4a261ff, #e76f51ff, #ffffffff, #f1f5f9ff, #e2ebf3ff, #252d41ff, #0f182eff);
$gradient-radial: radial-gradient(#264653ff, #2a9d8fff, #e9c46aff, #f4a261ff, #e76f51ff, #ffffffff, #f1f5f9ff, #e2ebf3ff, #252d41ff, #0f182eff);